* {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

/* -------------------- rules for the top navbar --------------------- */
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4D4D4D;
    display: flex;
    flex-wrap: wrap;
}

.navbar li {
    float: left;
    border-right: 1px solid #bbb
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
    font-family: Garamond;
    font-size: calc(6px + 1vw)
}

.navbar li a:hover {
    background-color: #EAB559;
}

.navbar .active {
    background-color: #eab559;
}

/* -------------------- rules for the landing page/first section that appears --------------------- */
#landing {
    margin: 8% 10% 10% 10%;
}

#landing h1 {
    font-family: Helvetica;
    font-size: 4.5vw;
    font-weight: bold;
    color:#4D4D4D;
    text-align: left;
    position: absolute;
  }

#landing h2 {
    font-size: 3vw;
    font-family: cursive;
    display: inline;
    position: absolute;
    padding-top: 6%;
}

#landing h3 {
    font-size: 3vw;
    font-family: Helvetica;
    font-weight: Bold;
    display: inline;
    position: absolute;
    padding-top: 4%;
    color: #4D4D4D;
}

#landing a {
    padding: 1%;
    border: .25vw solid #EAB559;
    font-size: 1.5vw;
    border-radius: 10px;
    text-decoration: none;
    color: #EAB559;
    display: inline-block;
    position: absolute;
    font-family: Helvetica;
    margin-top: 16%;
}

#headerimg {
    float: right;
    width: 75%;
    height: auto;
    position: relative;
}

/* -------------------- rules for main text blocks --------------------- */
.container {
    margin: 0 10% 0 10%;
    color: #4D4D4D;
    font-family: Helvetica;
}

.container h1 {
    font-family: Helvetica;
    font-size: calc(18px + 3vw);
    font-weight: bold;
    color: #4D4D4D;
    text-align: center;
    margin-bottom: 3%;
  }

  .container h2 {
    font-family: Helvetica;
    font-size: calc(12px + 2vw);
    font-weight: bold;
    color: #4D4D4D;
    text-align: left;
    margin-bottom: 1.5%;
    margin-top: 3%;
  }

.container p {
    font-family: Helvetica;
    font-size: 4.5vw;
    font-weight: 300px;
    color:#4D4D4D;
    text-align: left;
    font-size: calc(10px + 1vw);
    line-height: calc(14px + 1.78vw);
  }

.intro {
    font-family: Helvetica;
    font-size: calc(10px + 1vw);
    font-weight: bold;
    color: #EAB559;
    line-height: calc(14px + 1.85vw);
}

/* -------------------- rules for main text block images --------------------- */
.container img {
    width: 25%;
    height: auto;
    position: relative;
    padding: 3% 3% 3% 3%;
}

#divider {
    padding: 6% 0;
    width: 100%;
    height: auto;
    position: relative;
}